@charset "utf-8";

/* 
 * common CSS Document
 * 관리자 디자인을 수정하고자 할경우 custom_common.css를 통해 처리합니다.
 */
 
/* Form Control */
input,
select,
textarea,
label{display:inline-block; box-sizing:border-box; width:auto; vertical-align:middle; font-size:16px;}
input[type=text],
input[type=password],
input[type=tel],
input[type=date],
input[type=email],
input[type=number],
textarea{height: 40px;padding:7px 8px;margin:2px 0px;border:1px solid #ddd;background:#fff;vertical-align:middle;}
select{height: 40px;padding:0 8px;margin:2px 0px;border:1px solid #ddd;background:#fff;vertical-align:middle;}
select::-ms-expand {background-color:transparent; border:0;}
input[type=file]{background:#eee; font-size:16px;}
input[readonly],
input[disabled]{background:#eee;}
input[type=checkbox],
input[type=radio]{width:13px; height:13px; margin:2px 3px 1px 0;}
input[type=checkbox] + label,
input[type=radio] + label{margin-right:20px;}
table{width:100%;}
table th{font-weight:400;}

.input50{width:50px !important;}
.input70{width:70px !important;}
.input100{width:100px !important;}
.input200{width:200px !important;}
.input300{width:300px !important;}
.input400{width:400px !important;}
.inputFull{width:100% !important;}

/* text color */
.txt_blue{color:#5971d1;}
.txt_red{color:#d1597f;}
.txt_green{color:#74b777;}
.txt_gray{color:#989898;}
.txt_black{color:#000;}
.txt_orange{color:#e69035;}

/* 필수입력 */
.marking{display:inline-block; position:relative; width:10px; height:14px; margin-bottom:-2px; vertical-align:middle; text-indent:100%; overflow:hidden; white-space:nowrap;} 
.marking:after{content:'*'; display:inline-block; position:absolute; top:0; left:0; line-height:17px; font-size:14px; font-weight:600; text-indent:0; color:#c51917;}

/* 정렬 */
.tac{text-align:center !important;}
.tal{text-align:left !important;}
.tar{text-align:right !important;}

/* margin */
.mt0{margin-top:0px !important;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}

/* table */
#content table.table{margin-top:15px; border-top:1px solid #868686;}
#content table.table thead th{background:#f5f5f5; border-bottom:1px dashed #cecece;}
#content table.table thead tr:last-child th{border-bottom:1px solid #868686;}
#content table.table thead th[rowspan]{border-bottom:1px solid #868686; border-right:1px dashed #cecece;}
#content table.table tbody th{background:#f5f5f5; border:1px solid #e0e0e0; border-right-color:#868686;}
#content table.table thead + tbody th{background:transparent; border-right-color:#e0e0e0;}
#content table.table th,
#content table.table td{padding:10px; letter-spacing:-0.5px; line-height:1.4em; word-break:keep-all;}
#content table.table th{text-align:center; text-align:center; font-weight:500;}
#content table.table tbody td{border:1px solid #e0e0e0; text-align:left;}
#content table.table tbody tr td:last-child{border-right-width:0px;}
#content table.table tbody tr td:first-child,
#content table.table tbody tr th:first-child{border-left-width:0px;}
#content table.table thead + tbody tr td{text-align:center;}
#content table.table .tal{text-align:left !important;}
#content table.table .tar{text-align:right !important;}
#content table.table .list{margin-top:0px;}

/* tab all - cols */
.tabCol ul{display:table; width:100%; table-layout:fixed;}
.tabCol ul > li{display:table-cell; margin-left:-0.1px;}
.tabCol ul > li:first-child{margin-left:0px;}
.tabCol ul > li > a{display:block; text-align:center;}
.tabCol .col02 > li{width:calc(100% / 2); width:-webkit-calc(100% / 2); width:-moz-calc(100% / 2);}
.tabCol .col03 > li{width:calc(100% / 3); width:-webkit-calc(100% / 3); width:-moz-calc(100% / 3);}
.tabCol .col04 > li{width:calc(100% / 4); width:-webkit-calc(100% / 4); width:-moz-calc(100% / 4);}
.tabCol .col05 > li{width:calc(100% / 5); width:-webkit-calc(100% / 5); width:-moz-calc(100% / 5);}
.tabCol .col06 > li{width:calc(100% / 6); width:-webkit-calc(100% / 6); width:-moz-calc(100% / 6);}
.tabCol .col07 > li{width:calc(100% / 7); width:-webkit-calc(100% / 7); width:-moz-calc(100% / 7);}

/* sitemap */
.area_sitemap{box-sizing:border-box; margin:0 auto; padding:0 15px;}
.area_sitemap .gnb:after{content:''; display:block; clear:both;}
.area_sitemap .gnb > li{float:left; width:15%; margin-left:2%;}
.area_sitemap .gnb > li:first-child{margin-left:0px;}
.area_sitemap .gnb > li > a{display:block; position:relative; padding:40px 0px; background:#eff7f9; font-size:23px; font-weight:600; color:#1b1b1b; text-align:center; letter-spacing:-1px; transition:all 0.3s ease 0s;}
.area_sitemap .gnb > li > a span{position:relative; z-index:5;}
.area_sitemap .gnb > li > a:after{content:''; display:block; position:absolute; left:0px; top:0px; z-index:2; width:100%; height:100%; background:#54b9f3; background-image:linear-gradient(0deg, #54b9f3, #0ab19b); background-image:-ms-linear-gradient(0deg, #54b9f3, #0ab19b); background-image:-webkit-linear-gradient(0deg, #54b9f3, #0ab19b); background-image:-moz-linear-gradient(0deg, #54b9f3, #0ab19b); background-image:-o-linear-gradient(0deg, #54b9f3, #0ab19b); transform:scaleX(0); transform-origin:0 0; transition:all 0.4s ease-out 0s;}
.area_sitemap .gnb > li > a:hover,
.area_sitemap .gnb > li:hover > a{color:#fff;}
.area_sitemap .gnb > li > a:hover:after,
.area_sitemap .gnb > li:hover > a:after{transform:scaleX(1);}
.area_sitemap .gnb > li > ul{margin-top:30px;}
.area_sitemap .gnb > li > ul > li{margin-bottom:10px; padding-left:20px;}
.area_sitemap .gnb > li > ul > li > a{display:inline-block; position:relative;  padding-left:10px; font-size:18px; font-weight:300; color:#333; letter-spacing:-1px; transition:all 0.3s ease 0s;}
.area_sitemap .gnb > li > ul > li > a:before{content:''; display:block; position:absolute; left:0px; top:13px; width:4px; height:1px; background:#666; transition:all 0.3s ease 0s;}
.area_sitemap .gnb > li > ul > li > a:hover{color:#3c9ed6;}
.area_sitemap .gnb > li > ul > li > a:hover:before{background:#3c9ed6;}

/* layer pop */
.layerPop{position:absolute; z-index:90;}
.layerPop a{display:block;}
.layerPop img{max-width:100%;}
.layerPop .btn{padding:3px 10px; background:#292b42; text-align:right;}
.layerPop .btn button{display:inline-block; margin-left:15px; background:none; color:#fff; font-size:12px;}

/* loading */
.area_loding{position:fixed; top:0px; left:0px; z-index:90; width:100%; height:100%; background:rgba(255,255,255,0.7);}
.area_loding .img{position:absolute; top:50%; left:50%; z-index:91; width:150px; height:150px; transform:translate(-50%, -50%);}

[data-form-type="datepicker"]{font-size:14px;}

/* info box */
.box_attention{margin-top:20px; padding:20px; background:#f9f6f0;}
.box_attention strong,
.text_risk strong{color:#3653a9;}
.text_risk{margin-top:20px;}
.icon_risk:before,
.text_risk:before{content:''; display:inline-block; width:14px; height:14px; margin-top:-3px; margin-right:4px; background:#bd2534 url(/images/module/icon_tooltip.png) no-repeat 50% 50%; background-size:14px; border-radius:100%; vertical-align:middle;}

@media all and (max-width:1024px){
	.area_sitemap .gnb > li{width:32%; margin-left:2%; margin-bottom:30px;}
	.area_sitemap .gnb > li:nth-child(3n+1){clear:both; margin-left:0px;}	
}

@media all and (max-width:600px){
	#content .scrollTable{overflow:auto;}
	#content .scrollTable .table{width:650px;}
	
	.area_sitemap .gnb > li{width:49%;}
	.area_sitemap .gnb > li:nth-child(3n+1){clear:none; margin-left:2%;}	
	.area_sitemap .gnb > li:nth-child(2n+1){clear:left; margin-left:0px;}
	.area_sitemap .gnb > li > a{font-size:20px;}

	.layerPop{left:50% !important; top:50% !important; width:90% !important; height:auto !important; transform:translate(-50%, -50%);}
}

@media all and (max-width:420px){
	.area_sitemap .gnb > li > ul > li > a{font-size:16px;}
}