@charset "utf-8";

/* 
 * module CSS Document
 * 수정은 custom_board.css 상쇄한다.
 *
 * 1) calendar
 * 2) 지점찾기
 *
 */

/* 1) calendar */
.area_calendar{display:flex; flex-wrap:wrap; align-items:stretch;}
.area_calendar .control{flex:0 1 100%; display:flex; align-items:center; gap:10rem; position:relative; margin-bottom:20rem;}
.area_calendar .control > div{flex:none; display:inline-flex; flex-wrap:wrap; align-items:stretch; border:1rem solid #f4f4f4;}
.area_calendar .control > div > *{display:inline-block; vertical-align:middle;}
.area_calendar .control > div > p{height:48rem; line-height:48rem; padding:0 20rem 0 48rem; background:url(../../images/module/img_calendar.svg) no-repeat 15rem 50%; border-right:1rem solid #f4f4f4; border-left:1rem solid #f4f4f4; font-size:20rem;}
.area_calendar .control > div a[class^="btn_"]{opacity:0.5; position:relative; height:48rem; line-height:48rem; box-sizing:border-box; padding:0 20rem; font-size:0; transition:all 0.3s ease 0s;}
.area_calendar .control > div a[class^="btn_"]:before{content:''; display:block; position:absolute; top:50%; left:50%; width:11rem; height:17rem; background:url(../../images/module/img_calendar01.png) no-repeat 50% 0; background-size:100%; transform:translate(-50%, -50%);}
.area_calendar .control > div a[class^="btn_"]:hover{opacity:1;}
.area_calendar .control > div .btn_next{transform:rotate(180deg);}
.area_calendar .control .btn_today{display:inline-flex; justify-content:center; align-items:center; min-width:100rem; height:50rem; box-sizing:border-box; background:#365ec3; border:1rem solid #2c52b1; color:#fff; font-size:15rem; text-align:center;}
.area_calendar .control .side{margin-left:auto;}
.area_calendar .control .side .button{height:50rem;}
.area_calendar .calendar{flex:none; width:40%; box-sizing:border-box;}
.area_calendar .calendar table{table-layout:fixed;}
.area_calendar .calendar table th,
.area_calendar .calendar table td{text-align:center;}
.area_calendar .calendar table th{height:35rem; padding:10rem; background:#191919; border:1rem solid #191919; color:#fff; font-size:15rem; font-weight:500;}
.area_calendar .calendar table td{height:70rem; border:1rem solid #e0e6e9; line-height:0em;}
.area_calendar .calendar table td > a,
.area_calendar.type02 .calendar table td > div{display:block; position:relative; height:100%; box-sizing:border-box; padding:28rem 10rem 5rem; border:2px solid transparent; transition:0.4s ease-out 0s;}
.area_calendar .calendar table td > a:hover,
.area_calendar.type02 .calendar table td > div:hover{z-index:10; border-color:#222;}
.area_calendar .calendar table td.none > a:hover,
.area_calendar.type02 .calendar table td.none > div:hover{box-shadow:none;}
.area_calendar .calendar table th[data-calendar="sun"]{color:#fff;}
.area_calendar .calendar table th[data-calendar="sat"]{color:#fff;}
.area_calendar .calendar table td em{display:block; position:absolute; top:20rem; left:0rem; width:100%; text-align:center;}
.area_calendar .calendar *[data-calenda="in"]{display:inline-block; position:relative; width:8rem; height:8rem; box-sizing:border-box; margin-top:3rem; border:1rem solid #e3e3fd; border-radius:100%; text-indent:100%; overflow:hidden; white-space:nowrap;}
.area_calendar .calendar *[data-calenda="in"]:before{content:''; display:block; position:absolute; top:50%; left:50%; width:4rem; height:4rem; margin:-2rem 0 0 -2rem; background:#3e3ef4; border-radius:50%;}
.area_calendar .calendar .today{background:#f2f5ff;}
.area_calendar .calendar .today > *:after{content:'T'; display:inline-block; position:absolute; top:10rem; right:5rem; width:15rem; height:15rem; line-height:15rem; border-radius:50%; background:#365ec3; color:#fff; font-size:10rem;}
.area_calendar .calendar .on{background:#fff2f2 !important;}
.area_calendar .calendar .on.today{background:#f2f5ff !important;}
.area_calendar .calendar .none{background:#f3f3f3;}
.area_calendar .calendar .none > *{overflow:hidden; cursor:default; color:#b7b7b7;}
.area_calendar .calendar .none > *:before{content:''; display:block; position:absolute; top:0; right:0; width:200%; height:1rem; background:#e0e0e0; transform:rotate(-37deg); transform-origin:100% 0;}
	/* calendar-list */
.area_calendar .list{flex:auto; display:flex; flex-direction:column; position:relative; box-sizing:border-box; background:#f7f7f7;}
.area_calendar .list [data-date-area="list"]{display:flex; align-items:center; min-height:55rem; box-sizing:border-box; padding:5rem 15rem; font-size:18rem; font-weight:600;}
.area_calendar .list li{border-top:1rem solid #e1e9ec}
.area_calendar .list li > a,
.area_calendar .list li > span{display:flex; align-items:center; min-height:40rem; padding:10rem 15rem; font-weight:300; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; transition:all 0.4s ease-out 0s;}
.area_calendar .list li > a:hover{background:#fff; color:#222;}
.area_calendar .list li > span.none_data{justify-content:center; padding-top:50rem; padding-bottom:50rem; border-width:0; text-align:center;}
.area_calendar .list li:first-child{border-top-style:solid;}
.area_calendar .list .btn-box{display:none; text-align:right;}
.area_calendar .slide{flex:auto; overflow-y:auto;}
.area_calendar .view{clear:both; padding-top:40rem;}
   /* calendar - 반응형 */
@media screen and (min-width:769px){
	.area_calendar.type02 .calendar table td{height:100rem;}
	.area_calendar.type02 .calendar{float:none; width:100%;}
	.area_calendar.type02 .calendar *[data-calenda="in"]{display:block; border:0rem; width:auto; height:auto; padding-left:10rem; margin:7rem 0rem; font-size:13rem; overflow:visible; text-indent:0; white-space:normal; text-align:left;}
	.area_calendar.type02 .calendar *[data-calenda="in"]:before{top:3rem; left:0rem; margin:0rem;}	
	.area_calendar.type02 .list{display:none;}
}
@media screen and (max-width:1024px){
	.area_calendar .calendar,
	.area_calendar .list{width:50%;}
}
@media screen and (max-width:768px){
	.area_calendar.type02 .calendar,
	.area_calendar.type02 .list{float:none; width:100%;}	
	.area_calendar.type02 .list{height:auto !important;}
}
@media screen and (max-width:640px){
	.area_calendar .calendar,
	.area_calendar .list{width:100%;}
	.area_calendar .list{height:auto !important; max-height:400rem;}
	.area_calendar .control .side{display:none;}
	.area_calendar .control .btn_today{min-width:70rem; margin-left:auto;}
	.area_calendar .list .btn-box{display:flex; flex-wrap:wrap; justify-content:center; padding:5rem;}
	.area_calendar .list .btn-box .button{flex:auto;}
}
@media screen and (max-width:360px){
	.area_calendar .control .btn_today{min-width:70rem;}
	.area_calendar .calendar .today > *:after{right:2rem; width:13rem; height:13rem; line-height:13rem;}
}

/* 2) 지점찾기  */
.box_double.shop{display:flex; align-items:stretch; margin-bottom:30rem;}
.box_double.shop > div{float:none; box-sizing:border-box;}
.box_double.shop div.search{flex:auto; overflow:hidden; display:flex; flex-direction:column; justify-content:center; align-items:center; position:relative; padding:0 30rem; border:1rem solid #e0e6e9; text-align:center;}
.box_double.shop div.search em{display:block; font-size:25rem; color:#222; word-break:keep-all;}
.box_double.shop div.search em i{font-weight:600; color:var(--color-point, #365ec3);}
.box_double.shop div.search p{padding-top:10rem; font-size:16rem; font-weight:300; color:#666; word-break:keep-all;}
.box_double.shop div.search .form{--sizeHig:60rem; width:80%; padding-top:50rem;}
.box_double.shop div.search .form form{position:relative;}
.box_double.shop div.search .form input[type="text"]{width:100%; height:var(--sizeHig); margin:0; padding:0 var(--sizeHig) 0 20rem}
.box_double.shop div.search .form .search-btn{position:absolute; top:0; right:0; width:var(--sizeHig); height:var(--sizeHig); background:transparent url(../../images/board/icon_search.svg) no-repeat center; background-size:19rem; border:0; font-size:0;}
.box_double.shop div.map{flex:none; overflow:hidden; position:relative; width:60%; padding:30rem 0; background:#f5f6f7; border-right-width:0rem;}
.box_double.shop div.map .nation{position:relative; width:336rem; height:424rem; margin:0 auto; background:url(../../images/module/img_map01.png) no-repeat 50% 0; background-size:100%;}
.box_double.shop div.map .jeju{position:absolute; right:0; bottom:0; padding:30rem 24rem; border-left:1rem solid #c2d1db;}
.box_double.shop div.map .jeju:before{content:''; display:block; position:absolute; top:0; left:0; width:105%; height:1rem; background:#c2d1db; transform:rotate(-15deg); transform-origin:0 100%;}
.box_double.shop div.map .jeju:after{content:''; display:block; width:97rem; height:50rem; margin:0 auto; background:url(../../images/module/img_map02.png) no-repeat 50% 0; background-size:100%;}
.box_double.shop div.map a[data-map]{display:inline-block; position:absolute; width:28rem; height:28rem; line-height:28rem; background:#475665; border-radius:100%; color:#fff; text-align:center; font-size:13rem; font-weight:300; transition:all 0.3s ease 0s;}
.box_double.shop div.map a[data-map]:hover,
.box_double.shop div.map a[data-map]:focus,
.box_double.shop div.map a[data-map].on{background:var(--color-point, #365ec3); box-shadow:0 3rem 20rem rgba(54,94,195,0.4);}
.box_double.shop div.map a[data-map="01"]{top:65rem; left:97rem;}
.box_double.shop div.map a[data-map="02"]{top:84rem; left:61rem;}
.box_double.shop div.map a[data-map="03"]{top:103rem; left:125rem;}
.box_double.shop div.map a[data-map="04"]{top:184rem; left:122rem;}
.box_double.shop div.map a[data-map="05"]{top:178rem; left:75rem;}
.box_double.shop div.map a[data-map="06"]{top:147rem; left:150rem;}
.box_double.shop div.map a[data-map="07"]{top:64rem; left:198rem;}
.box_double.shop div.map a[data-map="08"]{bottom:100rem; left:56rem;}
.box_double.shop div.map a[data-map="09"]{bottom:57rem; left:61rem;}
.box_double.shop div.map a[data-map="10"]{bottom:138rem; left:97rem;}
.box_double.shop div.map a[data-map="11"]{right:97rem; bottom:154rem;}
.box_double.shop div.map a[data-map="12"]{right:76rem; bottom:200rem;}
.box_double.shop div.map a[data-map="13"]{right:130rem; bottom:98rem;}
.box_double.shop div.map a[data-map="14"]{right:42rem; bottom:114rem;}
.box_double.shop div.map a[data-map="15"]{right:68rem; bottom:70rem;}
.box_double.shop div.map a[data-map="16"]{top:50%; left:50%; margin:-18rem 0 0 -14rem;}
	/* 지점찾기 - 상세 */
.search-shop .bbsContent .conts{min-height:inherit;}
.search-shop__info .shopPhoto{position:relative; margin-top:10rem;}
.search-shop__info .shopPhoto .list{display:flex; flex-direction:column; align-items:center; gap:10rem;}
.search-shop__info .shopPhoto .list .img{display:block;}
.search-shop__info .shopPhoto .list .img img{max-width:100%;}
.shopMap{padding-top:10rem;}
.shopMap .txt_map{padding:20rem; background:#fff; border:1rem solid #222; font-size:16rem; text-align:center; line-height:1em;}
.shopConts{margin-top:20rem;}
.search-shop__title{display:block; margin-top:30rem; font-size:20rem !important; font-weight:600;}
	/* 지점찾기 - 반응형  */
@media screen and (max-width:1024px){
	.box_double.shop div.search em{font-size:22rem;}	
	.box_double.shop div.search .form{width:90%;}
}  	
@media screen and (max-width:768px){
	.box_double.shop{flex-wrap:wrap;}
	.box_double.shop div.map{width:100%;}
	.box_double.shop div.search{padding:30rem 20rem;}
	.box_double.shop div.search .form{--sizeHig:50rem; padding-top:30rem;}
} 
@media screen and (max-width:640px){ 
	.shopMap .root_daum_roughmap .wrap_map{height:300rem !important;}
}
@media screen and (max-width:360px){
	.box_double.shop div.map .jeju:before{transform:rotate(-10deg);}
}

 
/* box */
.box_double{margin-top:20rem;}
.box_double > div{float:right; width:49%; position:relative;}
.box_double > div:first-child{float:left; min-height:400rem; border-right:1rem dashed #ccc;}
.box_double:after{content:''; display:block; clear:both;}

/* tree */
.box_double.tree{position:relative;}
.box_double.tree > div{width:60%;}
.box_double.tree > div:first-child{position:relative; width:37%; border-right:2rem solid #ebebeb;}
.box_double.tree > div:first-child:before{content:''; display:block; position:absolute; right:-17rem; top:50%; z-index:10; width:34rem; height:34rem; margin-top:-17rem; background:#4286f3 url(../../images/module/img_tree_arrow.png) no-repeat 50% 50%; border-radius:100%; box-shadow:3px 3px 0px rgba(0,0,0,0.18);}

/* tree UI */
.area_tree .btn{display:inline-block; padding:7rem 15rem; background:#fff; border:1rem solid #4286f3; border-radius:3rem; color:#4286f3; font-size:12rem; transition:all 0.3s ease 0s;}
.area_tree .btn.active{background:#4286f3; color:#fff;}
.area_tree .btn:hover{box-shadow:3rem 3rem 0 rgba(0,0,0,0.10);}
.area_tree .btn.add:hover{background:#4286f3; color:#fff;}
.area_tree ul{position:relative}
.area_tree ul:before{content:''; display:inline-block; position:absolute; left:8.5rem; top:30rem; width:1rem; height:calc(100% - 35px); background:url(../../images/module/bg_tree01.gif) repeat-y 0 0;}
.area_tree .list{margin-top:30rem;}
.area_tree .list:before{top:17.5rem; height:calc(100% - 24rem);}
.area_tree .list li{position:relative; padding:0 0 20rem 30rem;}
.area_tree .list li:before{content:''; display:block; position:absolute; left:-22rem; top:7.5rem; width:25rem; height:1rem; background:url(../../images/module/bg_tree02.gif) repeat-x 0 0; transition:all 0.3s ease 0s;}
.area_tree .list > li:before{display:none;}
.area_tree .list > li:after{display:none;}
.area_tree .list li:last-child{padding-bottom:0rem;}
.area_tree .list li ul{display:none; padding-top:20rem;}
.area_tree .list li > a:not(.tree){display:inline-block; margin-left:-20rem; letter-spacing:-1rem;}
.area_tree .list li > a.tree{float:left; display:inline-block; position:relative; left:-30rem; width:17rem; height:17rem; font-size:0; vertical-align:top; transition:all 0.3s ease 0s;}
.area_tree .list li > a.tree:before{content:''; display:block; position:absolute; left:0rem; top:0rem; width:17rem; height:17rem; background:url(../../images/module/icon_tree_close02.png) no-repeat 50% 0; transition:all 0.3s ease 0s;}
.area_tree .list li > a.tree:not(.folder) + a{float:left; display:block; width:calc(100% - 25rem);}
.area_tree .list li:after{content:''; display:block; clear:both;}
.area_tree .list li a.folder:before{background-image:url(../../images/module/icon_tree_close.png);}
.area_tree .list li a.on:before{background-image:url(../../images/module/icon_tree_open02.png);}
.area_tree .list li.active:before{left:-21rem; background:#4286f3;}
.area_tree .list li.active > ul{display:block;}
.area_tree .list li.active > a.folder:before{background-image:url(../../images/module/icon_tree_open.png);}
.area_tree .list li a.on{color:#4286f3; font-weight:600;}
.area_tree .list li.active > a{color:#111; font-weight:600;}

/* data picker */
input[data-form-type="datepicker"]{width:105rem; text-align:center;}
.ui-datepicker{overflow:hidden; width:auto !important; border-radius:10rem; box-shadow:0 20px 30px rgba(0,0,0,0.1);}
.ui-datepicker-trigger{display:inline-block; width:20rem; height:20rem; background:url(../../images/module/img_calendar.svg) no-repeat 50% 0; background-size:100%; font-size:0rem; vertical-align:middle;}
.ui-widget.ui-widget-content{z-index:50 !important; padding:0rem; background:#fff;}
.ui-datepicker .ui-datepicker-header{padding:5rem; background:#fafafa; border:0rem;}
.ui-datepicker .ui-datepicker-title select{height:30rem; margin:1rem 2rem !important; font-size:14rem;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{width:30rem; height:30rem; line-height:30rem; background:transparent !important; border:0px !important; text-align:center;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{background:#1976d2 !important; border-radius:5rem;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{background:#f3d5a9 !important; border-radius:5rem; color:#333 !important;}
.ui-datepicker th{font-weight:400 !important; font-size:14rem;}
.ui-datepicker thead tr > th.ui-datepicker-week-end:first-child{color:#e91062;}
.ui-datepicker thead tr > th.ui-datepicker-week-end:last-child{color:#2d7aee;}
.ui-datepicker tbody tr > td.ui-datepicker-week-end:first-child a{color:#e91062;} 
.ui-datepicker tbody tr > td.ui-datepicker-week-end:last-child a{color:#2d7aee;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{border:0 !important;}
.ui-datepicker .ui-datepicker-prev-hover{left:2rem !important;}
.ui-datepicker .ui-datepicker-next-hover{right:2rem !important;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{top:50%; cursor:pointer; transform:translateY(-50%);}

/* product */
.productList{padding-bottom:15rem;}
.productList:after{content:''; display:block; clear:both;}
.productList > li{float:left; width:23.5%; margin-top:30rem; margin-left:2%;}
.productList > li:nth-child(4n+1){margin-left:0rem;}
.productList > li div{display:block; position:relative; background:#fff; border:1rem solid #eaecf1; transition:all 0.3s ease 0s;}
.productList > li div > *{display:block;}
.productList > li div > *:not(.img){padding-left:15rem; padding-right:15rem;}
.productList > li .img{overflow:hidden; width:100%; height:260rem; background:#fff url(../../images/board/no_image.gif) no-repeat 50% 50%; text-align:center; transition:opacity 0.5s ease-out 0s;}
.productList > li .img img{height:100%; margin-left:-100%; margin-right:-100%; transform:scale(1,1); transition:all 0.5s ease-out 0s;}
.productList > li .img i{display:block; height:100%; background-repeat:no-repeat; background-position:50% 50%; background-size:cover; transform:scale(1,1); transition:all 0.5s ease-out 0s;}
.productList > li div > em{opacity:1; min-height:50rem; margin-top:15rem; padding-top:20rem; padding-bottom:10rem; font-size:18rem; letter-spacing:-1rem;}
.productList > li .img + em{min-height:27rem; line-height:27rem; padding-top:0rem; font-size:15rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.productList > li div:hover,
.productList > li div:focus{background:#f0f6f8;}
.productList > li div:hover img,
.productList > li div:focus img{opacity:0.7; transform:scale(1.1,1.1);}
.productList > li div:hover .img i,
.productList > li div:focus .img i{transform:scale(1.1,1.1);}
.productList > li div:hover .img,
.productList > li div:focus .img{opacity:0.7;}
.productList > li i[class^="type"]{display:inline-block; position:absolute; top:227rem; left:-1rem; height:33rem; line-height:33rem; font-size:13rem; color:#fff; font-weight:300;}
.productList > li i.type01{background:#4764d7;}
.productList > li i.type02{background:#42454e;}
.productList > li i.type03{background:#70b439;}
.productList > li i.type04{background:#dc3159;}
.productList > li .btn{display:block; padding:0 !important; border-top:1rem dashed #eaecf1; font-size:0rem;}
.productList > li .btn a{display:inline-block; width:50%; box-sizing:border-box; padding:10rem; background:#fff; font-size:14rem; font-weight:300; text-align:center; transition:all 0.3s ease 0s;}
.productList > li .btn a:nth-of-type(1){border-right:1rem solid #eaecf1;}
.productList > li .btn a:hover{background:#f0f6f8; color:#000;}
.productView .img{float:left; position:relative; width:50%;}
.productView .img span{display:block; position:relative; overflow:hidden; width:100%; padding-top:70%; background:#fbfbfb;}
.productView .img span img{position:absolute; top:50%; left:50%; height:100%; transform:translate(-50%, -50%);}
.productView .img ul{position:absolute; bottom:30rem; left:20rem;}
.productView .img ul li{display:inline-block;}
.productView .img ul li > a{display:inline-block; overflow:hidden; width:100rem; height:70rem; box-sizing:border-box; margin:0 5rem; border:1rem solid #fff; text-align:center;}
.productView .img ul li > a img{height:100%; margin-left:-100%; margin-right:-100%;}
.productView .img ul li > a.active{border-color:#333;}
.productView .title{float:right; width:45%;}
.productView .title .btn{margin-top:50rem;}
.productView .title .btn a{height:45rem; margin-right:5rem; line-height:43rem;}
.productView .title h3{padding:0 0 20rem; margin-top:0rem; border-bottom:1rem solid #e8e8e8; font-size:30rem; letter-spacing:-1rem;}
.productView .title h3:before{display:none;}
.productView .option{display:table; margin-top:20rem;}
.productView .option li{display:table-row; font-weight:300; color:#666;}
.productView .option li em{display:table-cell; min-width:100rem; padding:7rem 0rem; color:#222;}
.productView .info{clear:both; padding-top:80rem;}
.productView .info h4{margin-top:0rem; padding:0 0 15rem; border-bottom:1rem solid #e8e8e8; font-size:25rem;}
.productView .info .conts{padding:30rem 0;}
.productView .info .conts img{max-width:100%;}
.productWrite:after{content:''; display:block; clear:both;}
.productWrite.area_calendar.type02 .calendar{float:left; width:40%;}
.productWrite.area_calendar.type02 .calendar table td{height:70rem;}
.productWrite .bbsView{float:right; width:58%;}
.productWrite.area_calendar .control .btn_today{background:#fff; border-color:#dedfe0; color:#999; transition:all 0.3s ease 0s;}
.productWrite.area_calendar .control .btn_today:hover{color:#111;}
.productWrite .tip{position:relative; padding-left:15rem; margin-top:10rem; font-weight:300;}
.productWrite .tip:before,
.productWrite .tip:after{content:''; display:inline-block; position:absolute; top:8rem; width:3rem; height:3rem;}
.productWrite .tip:before{left:0rem; background:#eee;}
.productWrite .tip:after{left:5rem; background:#365ec3;}
.productWrite .tip span{font-weight:500; color:#222;}

/* 예약확인 */
.reserve_date{padding:10rem 20rem; border:1rem dotted #cfcece; font-size:18rem;}
.reserve_date span{display:inline-block; padding-right:5rem; font-size:17rem; color:#5971d1;}
.reserve_date .datepicker{border:1rem solid #ddd; padding:5rem;}
.reserve_date ~ h3{position:relative; margin-top:40rem; margin-bottom:10rem; font-size:20rem; letter-spacing:-1rem; font-weight:400;}
.reserve_state{margin-left:30rem; font-size:16rem; font-weight:300;}
.reserve_state i{color:#5971d1; font-weight:500;}

.reserve_list{margin-top:30rem; margin-left:-20rem;}
.reserve_list:after{content:''; display:block; clear:both;}
.reserve_list > li{float:left; width:calc(25% - 20rem); margin-left:20rem; margin-top:30rem;}
.reserve_list > li > a{display:block; position:relative; height:200rem; box-sizing:border-box; padding:30rem; border:1rem solid #eaecf1; transition:all 0.5s ease 0s;}
.reserve_list > li > a:hover{background:#41464e; border-color:#41464e; box-shadow:5rem 10rem 20rem rgba(0,0,0,0.10);}
.reserve_list > li > a:hover *{color:#fff;}
.reserve_list > li > a > i{display:block; position:absolute; top:-1rem; left:-1rem; min-width:70rem; height:50rem;}
.reserve_list > li > a > i > span{display:block; height:100%; line-height:50rem; background:#f5f5f5; text-align:center;}
.reserve_list > li > a > i > span.txt_blue{background:#5971d1; color:#fff;}
.reserve_list > li > a > i > span.txt_gray{background:#989898; color:#fff;}
.reserve_list > li > a > i > span.txt_red{background:#d1597f; color:#fff;}
.reserve_list > li > a > em{display:block; padding-top:50rem; font-size:18rem; letter-spacing:-1rem;}
.reserve_list > li > a > span{display:block; margin-top:10rem;}
.reserve_list > li > a > span i{display:inline-block; padding-right:5rem; margin-right:5rem;}
.reserve_list > li > a > span.write{position:absolute; right:30rem; bottom:20rem; color:#999; font-size:13rem;}

.area_searchApply{max-width:470rem; margin:0 auto;}
.area_searchApply .title{display:block; margin-bottom:10rem; font-size:30rem; color:#222; font-weight:200; letter-spacing:-1rem;}
.area_searchApply ul{border-top:1rem solid #505c78;}
.area_searchApply ul li{position:relative; min-height:100rem; box-sizing:border-box; padding-top:35rem;}
.area_searchApply ul li:before{content:''; opacity:0.6; display:block; position:absolute; top:50%; right:0rem; width:16rem; height:18rem; margin-top:-9rem; transition:all 0.5s ease 0s;}
.area_searchApply ul li label{position:absolute; top:50%; left:0rem; color:#666; font-weight:300; transform:translateY(-50%); transition:all 0.3s ease-in-out;}
.area_searchApply ul li input,
.area_searchApply ul li select{width:100%; height:60rem; padding-left:0rem; border:0rem; border-bottom:1rem solid #e2e2e2;}
.area_searchApply ul li input:hover,
.area_searchApply ul li input:focus,
.area_searchApply ul li select:hover,
.area_searchApply ul li select:focus{outline:none;}
.area_searchApply ul li[data-room-result="tel"] input{float:left; width:calc(100% / 3 - 10rem); margin:0 0 0 15rem;}
.area_searchApply ul li[data-room-result="tel"] input:nth-of-type(1){margin-left:0;}
.area_searchApply ul li[data-room-result="tel"]:after{content:''; display:block; clear:both;}
.area_searchApply ul li[data-room-result="tel"]:before{background:url(../../images/module/icon_data.svg) no-repeat 50% 50%;}
.area_searchApply ul li[data-room-result="user"]:before{background:url(../../images/module/icon_user.svg) no-repeat 50% 50%;}
.area_searchApply ul li[data-room-result="user"] input{padding-right:25rem;}
.area_searchApply ul li.active label,
.area_searchApply ul li.in label{top:20rem; color:#1760ad; transform:translateY(0);}
.area_searchApply ul li.active input,
.area_searchApply ul li.in input,
.area_searchApply ul li.active select,
.area_searchApply ul li.in select{border-color:#1760ad;}
.area_searchApply ul li.active:before,
.area_searchApply ul li.in:before{opacity:1;}
.area_searchApply .btn_submit{display:block; width:100%; height:60rem; margin-top:40rem; background:#fff; border:1rem solid #41464e; color:#41464e; font-weight:600; transition:all 0.5s cubic-bezier(0, 0, 0.21, 0.87) 0s;}
.area_searchApply .btn_submit:hover{background:#41464e; color:#fff; box-shadow:5rem 15rem 20rem rgba(0,0,0,0.15);}



@media screen and (max-width:1240px){
	.productView .img ul li > a{width:90rem; height:65rem; margin:0rem;}
}
@media screen and (max-width:1024px){		
	.productList > li{width:32%;}
	.productList > li:nth-child(4n+1){margin-left:2%;}
	.productList > li:nth-child(3n+1){margin-left:0rem;}
	.productWrite.area_calendar.type02 .calendar{float:none; width:100%;}
	.productWrite .bbsView{float:none; width:100%; margin-top:30rem;}

	.productView .img,
	.productView .title{float:none; width:100%;}
	.productView .title{margin-top:30rem;}
	.productView .title .btn{text-align:center;}

	.reserve_list > li > a{height:250rem; padding-left:20rem; padding-right:20rem;}
	.reserve_list > li > a > span i{display:block;}
}

@media screen and (max-width:850px){
	.reserve_list > li{width:calc(100% / 3 - 20rem);}
}

@media screen and (max-width:640px){
	col[data-shop]{display:none !important;}
	td[data-shop="area"]{position:absolute; top:0rem; left:0rem; width:70rem !important; text-align:left !important;}	
	td[data-shop="name"]{padding-left:100rem !important; border-bottom:1rem dashed #e4e4e4 !important; text-align:left !important;}
	td[data-shop="address"]{border-bottom:1rem dashed #e4e4e4 !important; text-align:left !important;}	
	td[data-shop="tel"]{position:absolute; bottom:3rem; left:0rem; width:130rem !important; text-align:left !important;}
	td[data-shop="view"]{padding-left:120rem !important; text-align:right !important;}
	td[data-shop="view"] a{margin:0rem;}
	
	.shopPhoto{background:none;}
	.shopPhoto .list > li{height:300rem;}
		
	.productList > li{width:48%; margin-left:0rem;}
	.productList > li:nth-child(2n){float:right;}
	.productList > li:nth-child(4n+1){margin-left:0;}
	.productList > li:nth-child(3n+1){margin-left:0;}

	.productView .img ul{position:static; margin-top:10rem; padding-bottom:10rem; border-bottom:1rem solid #e8e8e8; text-align:center;}
	.productView .img ul li > a{width:70rem; height:50rem;}

	.reserve_list > li{width:calc(50% - 20rem);}
}

@media screen and (max-width:460px){
	.productList > li .img{height:210rem;}
	.productList > li i[class^="type"]{top:177rem;}
	.productView .img ul li > a{width:60rem;}
}
	
@media screen and (max-width:360px){	
	.productList > li .img{height:180rem;}
	.productList > li i[class^="type"]{top:147rem;}

	.reserve_date{font-size:16rem;}
	.reserve_date span{font-size:15rem;}

	.reserve_list{margin-left:0rem;}
	.reserve_list > li{width:100%; margin-left:0rem;}
	.reserve_list > li > a{height:200rem;}
	.reserve_list > li > a > span i{display:inline-block;}
}